[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "==0.30.0"
alembic = "==1.14.0"
argon2-cffi = "==23.1.0"
psycopg = {extras = ["binary", "pool"], version = "*"}
greenlet = "==3.1.1"
pydantic-settings = "==2.7.0"
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "==0.0.22"
loguru = "==0.7.3"

[dev-packages]

[requires]
python_version = "3.13"
